img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.facecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

img.right {
    float: right;
    padding: 20px;
}

.postercenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}