img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

img.right {
    float: right;
    padding: 20px;
}

iframe.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}