.title{
	font-size: 50px;
	height: 50px;
}

body{
	margin-top: 20px;
}

@media (min-width:0px){
	.maincolumn{
		display:inline-block;
		width:480px;
	}
	.secondcolumn{
		display: none;
	}
}

@media (min-width:850px){
	.maincolumn{
		display:inline-block;
		width:600px;
	}
	.secondcolumn{
		display:inline-block;
		width:200px;
	}
}

.node {
	stroke-width: 1.5;
}